aws_region      = "us-east-1"
app_image       = "ghcr.io/YOUR_ORG/credpal-devops:latest"
domain_name     = "staging-api.yourdomain.com"
route53_zone_id = ""          # Set to your hosted zone ID for auto DNS setup
db_name         = "credpal_db"
db_username     = "credpal_user"
db_password     = "REPLACE_ME"
alarm_email     = "devops@yourcompany.com"
github_repo     = "YOUR_ORG/credpal-devops"
